version: '3'

services:
  app:
    image: "${DOCKER_USER}/notebook:1.0"
    build:
      context: .
      dockerfile: ./docker/dockerfile
    tty: true
    volumes:
      - ./:/app
    ports:
        - "$JUPYTER_PORT:$JUPYTER_PORT"
        - "$TENSORBOARD_PORT:$TENSORBOARD_PORT"
    env_file:
     - ./.env
#    entrypoint: jupyter lab --ip 0.0.0.0 --port=$JUPYTER_PORT --no-browser --allow-root
    